<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Sinatra App</title>
  </head>
  <body>
    <form action="/" method="get">
      Date:<br>
      <input type="text" name="birthdate"<br>
    </form>
    <input type="submit">
  </body>
</html>
