<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Sinatra App</title>
  </head>
  <body>
    <form action="/index.rb" method="get">
      Date:<br>
      <input type="text" name="birthdate"<br>
      <input type="submit">
    </form>
  </body>
</html>
